<!DOCTYPE html>
<html lang="en">

<head>
    <%-include('./headers.ejs')%>
</head>

<body>
    <%- include('./navigation.ejs')%>
        <div class="container">
            <h1>Page of main</h1>
        </div>
</body>

</html>